<h1>{{ 'i18n.about.welcome' | translate }}</h1>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card__image"></div>
    <mat-card-title>{{ dogBreeds[0].name }}</mat-card-title>
    <mat-card-subtitle>{{ 'i18n.about.dogBreedCardLabel' | translate }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="dogBreeds[0].imageUrl"
    [alt]="'i18n.about.dogBreedCardImageAltMessage' | translate"
  >

  <mat-card-content>
    <p>{{ 'i18n.about.dogBreedCardDescription' | translate }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>{{ 'i18n.about.dogBreedCardLikeButton' | translate }}</button>
    <button mat-button>{{ 'i18n.about.dogBreedCardShareButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
